.sidebar {
    width: 16rem;
    background-color: #141414;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    // Header
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__logo {
        display: flex;
        align-items: center;

        &-icon {
        color: #8b5cf6;
        flex-shrink: 0;
        }
    }

    &__brand {
        margin-left: 0.75rem;
        color: white;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: 0.5px;
    }

    // Navigation
    &__nav {
        flex: 1;
    }

    &__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__nav-item {
        margin-bottom: 0.25rem;
    }

    &__nav-link {
        display: flex;
        align-items: center;
        padding: 0.75rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;
        color: #5B5B5B;
        text-decoration: none;

        &:hover {
        background-color: #b181ec7e;
        color: white;
        }

        &--active {
        background-color: #B281EC;
        color: white;
        }
    }

    &__nav-icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-text {
        margin-left: 0.75rem;
        font-weight: 500;
    }

    // Mobile responsive
    @media (max-width: 1024px) {
        display: none; // Ocultar en móvil por ahora
    }
}