.stats-card {
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: Black;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.5 / 1; /* 3 veces más ancha que alta */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

    &--yellow {
    background:#F5BF5B;
    }

    &--purple {
    background: #A18CD1;
    }

    &--green {
    background: #D0E892;
    }

    &--blue {
    background: #8A45D4;
    }


    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        margin-top: auto;
        flex-direction: column;
        align-items: end;
        flex: 1;
    }

    &__title {
        font-size: 0.875rem;
        opacity: 0.9;
        margin: 0 0 0.5rem 0;
        font-weight: 750;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0 0 0.25rem 0;
    }

    &__subtitle {
        font-size: 0.75rem;
        opacity: 0.75;
        margin: 0;
    }

    &__icon-container {
        width: 2.5rem;
        height: 2.5rem;
        background-color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 1.25rem;
        height: 1.25rem;
        color: rgba(255, 255, 255, 0.70);
    }
}